*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body{
    background: rgb(64,31,93);
    background: linear-gradient(90deg, rgba(64,31,93,1) 17%, rgba(30,46,94,1) 66%);
}

.section-1{
    text-align: center;
    display:table;
    color: aliceblue;
    margin-top: 200px;
    position: relative;
    font-size: x-large;
}

.btn-1{
    margin-top: 20px;
    width: 30%;
    border-radius: 10%;
    height: 70px;
    font-size:large;
    font-weight: bold;
    font-style: italic;
}
